body {
  text-align: center;
  display: inline-block;
}

#main-field {
  margin: 0 auto;
  background: grey;
  box-sizing: border-box;
  width: 550px;
  height: auto;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 150px);

  }

button {
  width: 148px;
  height: 45px;
  color: black;
  opacity: 1;
}

button:not(#plus_button):hover {
  opacity: .2;
}
#plus_button {
  position: relative;
  top: -50px;
  left: -1px;
}
